## Imports

In [1]:
# Libraries

import re
import requests
import numpy as np
import pandas as pd
import sqlite3
import sqlalchemy

import logging
import os

from datetime import datetime

from bs4 import BeautifulSoup

from sqlalchemy import create_engine

## Data Colletion
### Job 01: Extraction

In [2]:
#============================================== CLASSICS =============================================

# Browser camouflage for website request
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

# Website URL for all ClassicS Books
url_classic = 'https://books.toscrape.com/catalogue/category/books/classics_6/index.html'

# Request
page = requests.get( url_classic, headers=headers )
page

# Returning the page's HTML
page.text

# Instantiating Beautiful Soup object
soup = BeautifulSoup(page.text, 'html.parser')
soup

# HTML structure (Class) where the showcase is stored (vitrine)
products = soup.find('ol', class_ = 'row')
products

#  HTML Structure (Class) where data is stored (all)
product_list = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list

# Returning first element of product_list
product_list[0]

# Number of items in the product_list
len(product_list)

product_list[0].get_text

#  HTML Structure (Class) where data is stored (details)
product_list_details = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list_details

#============================== Name ==============================
#============================== Price =============================
#============================== Stock =============================
#============================== Botton ============================

# Details
product_list_details[0].get_text()

#List de all products withe details (Name, Price, Stock, Botton)
product_all = [list(filter(None, p.get_text().split('\n'))) for p in product_list_details]
product_all

# Create DataFrame 
df = pd.DataFrame(product_all)

# Rename colomns DataFrame
df.columns = ['product_name','product_price','none','product_stock','none1','botton']

# Delete colmun
df.drop(["none", "none1"], axis=1, inplace=True)

#============================== Classification (STARS) ==============================

product_list_classification = products.find_all('p', class_= 'star-rating')
product_list_classification

# Counting the products on the page
len(product_list_classification)

# Extracting the number of stars per book
product_star = [product.p['class'] for product in product_list_details]
product_star = [p[1] for p in product_star] 

# Create DataFrame
df_star = pd.DataFrame(product_star)

# Rename column
df_star.columns = ['star']

#============================================== DATA =============================================

# Create DataFrame Finaly
data_classic = pd.concat([df, df_star], axis=1, ignore_index=True)

data_classic['product_catalog'] = 'classic'
data_classic

# Rename de columns
data_classic.columns = ['product_name','product_price','product_stock','product_boton', 'product_star', 'product_catalog']

data_classic

,product_name,product_price,product_stock,product_boton,product_star,product_catalog
0,The Secret Garden,Â£15.08,In stock,Add to basket,Four,classic
1,The Metamorphosis,Â£28.58,In stock,Add to basket,One,classic
2,The Pilgrim's Progress,Â£50.26,In stock,Add to basket,Two,classic
3,The Hound of the ...,Â£14.82,In stock,Add to basket,Two,classic
4,Little Women (Little Women ...,Â£28.07,In stock,Add to basket,Four,classic
5,Gone with the Wind,Â£32.49,In stock,Add to basket,Three,classic
6,Candide,Â£58.63,In stock,Add to basket,Three,classic
7,Animal Farm,Â£57.22,In stock,Add to basket,Three,classic
8,Wuthering Heights,Â£17.73,In stock,Add to basket,Three,classic
9,The Picture of Dorian ...,Â£29.70,In stock,Add to basket,Two,classic
10,The Complete Stories and ...,Â£26.78,In stock,Add to basket,Four,classic
11,Beowulf,Â£38.35,In stock,Add to basket,Two,classic
12,And Then There Were ...,Â£35.01,In stock,Add to basket,Two,classic
13,The Story of Hong ...,Â£43.19,In stock,Add to basket,Four,classic
14,The Little Prince,Â£45.42,In stock,Add to basket,Two,classic
15,Sense and Sensibility,Â£37.46,In stock,Add to basket,One,classic
16,Of Mice and Men,Â£47.11,In stock,Add to basket,Two,classic
17,Emma,Â£32.93,In stock,Add to basket,Two,classic
18,Alice in Wonderland (Alice's ...,Â£55.53,In stock,Add to basket,One,classic

In [3]:
#============================================== SCIENCE FICTION =============================================

# Browser camouflage for website request
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

# Website URL for all ClassicS Books
url_science = 'https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html'

# Request
page = requests.get( url_science, headers=headers )
page

# Returning the page's HTML
page.text

# Instantiating Beautiful Soup object
soup = BeautifulSoup(page.text, 'html.parser')
soup

# HTML structure (Class) where the showcase is stored (vitrine)
products = soup.find('ol', class_ = 'row')
products

#  HTML Structure (Class) where data is stored (all)
product_list = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list

# Returning first element of product_list
product_list[0]

# Number of items in the product_list
len(product_list)

product_list[0].get_text

#  HTML Structure (Class) where data is stored (details)
product_list_details = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list_details

#============================== Name ==============================
#============================== Price =============================
#============================== Stock =============================
#============================== Botton ============================

# Details
product_list_details[0].get_text()

#List de all products withe details (Name, Price, Stock, Botton)
product_all = [list(filter(None, p.get_text().split('\n'))) for p in product_list_details]
product_all

# Create DataFrame 
df = pd.DataFrame(product_all)

# Rename colomns DataFrame
df.columns = ['product_name','product_price','none','product_stock','none1','botton']

# Delete colmun
df.drop(["none", "none1"], axis=1, inplace=True)

#============================== Classification (STARS) ==============================

product_list_classification = products.find_all('p', class_= 'star-rating')
product_list_classification

# Counting the products on the page
len(product_list_classification)

# Extracting the number of stars per book
product_star = [product.p['class'] for product in product_list_details]
product_star = [p[1] for p in product_star] 

# Create DataFrame
df_star = pd.DataFrame(product_star)

# Rename column
df_star.columns = ['star']

#============================================== DATA =============================================

# Create DataFrame Finaly
data_science = pd.concat([df, df_star], axis=1, ignore_index=True)
data_science

data_science['product_catalog'] = 'science_fiction '
data_science

# Rename de columns
data_science.columns = ['product_name','product_price','product_stock','product_boton', 'product_star', 'product_catalog']

data_science

,product_name,product_price,product_stock,product_boton,product_star,product_catalog
0,Mesaerion: The Best Science ...,Â£37.59,In stock,Add to basket,One,science_fiction
1,Join,Â£35.67,In stock,Add to basket,Five,science_fiction
2,William Shakespeare's Star Wars: ...,Â£43.30,In stock,Add to basket,Four,science_fiction
3,The Project,Â£10.65,In stock,Add to basket,One,science_fiction
4,Soft Apocalypse,Â£26.12,In stock,Add to basket,Two,science_fiction
5,Sleeping Giants (Themis Files ...,Â£48.74,In stock,Add to basket,One,science_fiction
6,Arena,Â£21.36,In stock,Add to basket,Four,science_fiction
7,Foundation (Foundation (Publication Order) ...,Â£32.42,In stock,Add to basket,One,science_fiction
8,The Restaurant at the ...,Â£10.92,In stock,Add to basket,One,science_fiction
9,Ready Player One,Â£19.07,In stock,Add to basket,Four,science_fiction
10,"Life, the Universe and ...",Â£33.26,In stock,Add to basket,Two,science_fiction
11,Dune (Dune #1),Â£54.86,In stock,Add to basket,One,science_fiction
12,Do Androids Dream of ...,Â£51.48,In stock,Add to basket,One,science_fiction
13,Three Wishes (River of ...,Â£44.18,In stock,Add to basket,Two,science_fiction
14,The Last Girl (The ...,Â£36.26,In stock,Add to basket,Two,science_fiction
15,Having the Barbarian's Baby ...,Â£34.96,In stock,Add to basket,Four,science_fiction

In [4]:
#============================================== HUMOR =============================================

# Browser camouflage for website request
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

# Website URL for all ClassicS Books
url_humor = 'https://books.toscrape.com/catalogue/category/books/humor_30/index.html'

# Request
page = requests.get( url_humor, headers=headers )
page

# Returning the page's HTML
page.text

# Instantiating Beautiful Soup object
soup = BeautifulSoup(page.text, 'html.parser')
soup

# HTML structure (Class) where the showcase is stored (vitrine)
products = soup.find('ol', class_ = 'row')
products

#  HTML Structure (Class) where data is stored (all)
product_list = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list

# Returning first element of product_list
product_list[0]

# Number of items in the product_list
len(product_list)

product_list[0].get_text

#  HTML Structure (Class) where data is stored (details)
product_list_details = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list_details

#============================== Name ==============================
#============================== Price =============================
#============================== Stock =============================
#============================== Botton ============================

# Details
product_list_details[0].get_text()

#List de all products withe details (Name, Price, Stock, Botton)
product_all = [list(filter(None, p.get_text().split('\n'))) for p in product_list_details]
product_all

# Create DataFrame 
df = pd.DataFrame(product_all)

# Rename colomns DataFrame
df.columns = ['product_name','product_price','none','product_stock','none1','botton']

# Delete colmun
df.drop(["none", "none1"], axis=1, inplace=True)

#============================== Classification (STARS) ==============================

product_list_classification = products.find_all('p', class_= 'star-rating')
product_list_classification

# Counting the products on the page
len(product_list_classification)

# Extracting the number of stars per book
product_star = [product.p['class'] for product in product_list_details]
product_star = [p[1] for p in product_star] 

# Create DataFrame
df_star = pd.DataFrame(product_star)

# Rename column
df_star.columns = ['star']

#============================================== DATA =============================================

# Create DataFrame Finaly
data_humor = pd.concat([df, df_star], axis=1, ignore_index=True)
data_humor

data_humor['product_catalog'] = 'humor '
data_humor

# Rename de columns
data_humor.columns = ['product_name','product_price','product_stock','product_boton', 'product_star', 'product_catalog']

data_humor

,product_name,product_price,product_stock,product_boton,product_star,product_catalog
0,The Long Haul (Diary ...,Â£44.07,In stock,Add to basket,One,humor
1,Old School (Diary of ...,Â£11.83,In stock,Add to basket,Five,humor
2,I Know What I'm ...,Â£25.98,In stock,Add to basket,Four,humor
3,Hyperbole and a Half: ...,Â£14.75,In stock,Add to basket,Five,humor
4,Dress Your Family in ...,Â£43.68,In stock,Add to basket,Three,humor
5,Toddlers Are A**holes: It's ...,Â£25.55,In stock,Add to basket,One,humor
6,When You Are Engulfed ...,Â£30.89,In stock,Add to basket,Five,humor
7,Naked,Â£31.69,In stock,Add to basket,Three,humor
8,Lamb: The Gospel According ...,Â£55.50,In stock,Add to basket,Five,humor
9,Holidays on Ice,Â£51.07,In stock,Add to basket,Two,humor

In [5]:
#============================================== BUSINESS =============================================

# Browser camouflage for website request
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

# Website URL for all ClassicS Books
url_business = 'https://books.toscrape.com/catalogue/category/books/business_35/index.html'

# Request
page = requests.get( url_business, headers=headers )
page

# Returning the page's HTML
page.text

# Instantiating Beautiful Soup object
soup = BeautifulSoup(page.text, 'html.parser')
soup

# HTML structure (Class) where the showcase is stored (vitrine)
products = soup.find('ol', class_ = 'row')
products

#  HTML Structure (Class) where data is stored (all)
product_list = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list

# Returning first element of product_list
product_list[0]

# Number of items in the product_list
len(product_list)

product_list[0].get_text

#  HTML Structure (Class) where data is stored (details)
product_list_details = products.find_all('li', class_= 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
product_list_details

#============================== Name ==============================
#============================== Price =============================
#============================== Stock =============================
#============================== Botton ============================

# Details
product_list_details[0].get_text()

#List de all products withe details (Name, Price, Stock, Botton)
product_all = [list(filter(None, p.get_text().split('\n'))) for p in product_list_details]
product_all

# Create DataFrame 
df = pd.DataFrame(product_all)

# Rename colomns DataFrame
df.columns = ['product_name','product_price','none','product_stock','none1','botton']

# Delete colmun
df.drop(["none", "none1"], axis=1, inplace=True)

#============================== Classification (STARS) ==============================

product_list_classification = products.find_all('p', class_= 'star-rating')
product_list_classification

# Counting the products on the page
len(product_list_classification)

# Extracting the number of stars per book
product_star = [product.p['class'] for product in product_list_details]
product_star = [p[1] for p in product_star] 

# Create DataFrame
df_star = pd.DataFrame(product_star)

# Rename column
df_star.columns = ['star']

#============================================== DATA =============================================

# Create DataFrame Finaly
data_business = pd.concat([df, df_star], axis=1, ignore_index=True)
data_business

data_business['product_catalog'] = 'business '
data_business

# Rename de columns
data_business.columns = ['product_name','product_price','product_stock','product_boton', 'product_star', 'product_catalog']

data_business

,product_name,product_price,product_stock,product_boton,product_star,product_catalog
0,The Dirty Little Secrets ...,Â£33.34,In stock,Add to basket,Four,business
1,The Third Wave: An ...,Â£12.61,In stock,Add to basket,Five,business
2,The 10% Entrepreneur: Live ...,Â£27.55,In stock,Add to basket,Three,business
3,Shoe Dog: A Memoir ...,Â£23.99,In stock,Add to basket,Two,business
4,Made to Stick: Why ...,Â£38.85,In stock,Add to basket,Five,business
5,Quench Your Own Thirst: ...,Â£43.14,In stock,Add to basket,One,business
6,The Art of Startup ...,Â£21.00,In stock,Add to basket,Three,business
7,Born for This: How ...,Â£21.59,In stock,Add to basket,Five,business
8,The E-Myth Revisited: Why ...,Â£36.91,In stock,Add to basket,One,business
9,"Rich Dad, Poor Dad",Â£51.74,In stock,Add to basket,One,business
10,The Lean Startup: How ...,Â£33.92,In stock,Add to basket,Three,business
11,Rework,Â£44.88,In stock,Add to basket,Two,business

## Data Collection by Catalog
### Job 02:

In [6]:
#============================================== DATA FINALY =============================================
data_row = pd.concat([data_classic, data_science, data_humor, data_business],ignore_index=True)

# Delete colmun
data_row.drop(['product_boton'], axis=1, inplace=True)

data_row

,product_name,product_price,product_stock,product_star,product_catalog
0,The Secret Garden,Â£15.08,In stock,Four,classic
1,The Metamorphosis,Â£28.58,In stock,One,classic
2,The Pilgrim's Progress,Â£50.26,In stock,Two,classic
3,The Hound of the ...,Â£14.82,In stock,Two,classic
4,Little Women (Little Women ...,Â£28.07,In stock,Four,classic
5,Gone with the Wind,Â£32.49,In stock,Three,classic
6,Candide,Â£58.63,In stock,Three,classic
7,Animal Farm,Â£57.22,In stock,Three,classic
8,Wuthering Heights,Â£17.73,In stock,Three,classic
9,The Picture of Dorian ...,Â£29.70,In stock,Two,classic
10,The Complete Stories and ...,Â£26.78,In stock,Four,classic
11,Beowulf,Â£38.35,In stock,Two,classic
12,And Then There Were ...,Â£35.01,In stock,Two,classic
13,The Story of Hong ...,Â£43.19,In stock,Four,classic
14,The Little Prince,Â£45.42,In stock,Two,classic
15,Sense and Sensibility,Â£37.46,In stock,One,classic
16,Of Mice and Men,Â£47.11,In stock,Two,classic
17,Emma,Â£32.93,In stock,Two,classic
18,Alice in Wonderland (Alice's ...,Â£55.53,In stock,One,classic
19,Mesaerion: The Best Science ...,Â£37.59,In stock,One,science_fiction
20,Join,Â£35.67,In stock,Five,science_fiction
21,William Shakespeare's Star Wars: ...,Â£43.30,In stock,Four,science_fiction
22,The Project,Â£10.65,In stock,One,science_fiction
23,Soft Apocalypse,Â£26.12,In stock,Two,science_fiction
24,Sleeping Giants (Themis Files ...,Â£48.74,In stock,One,science_fiction
25,Arena,Â£21.36,In stock,Four,science_fiction
26,Foundation (Foundation (Publication Order) ...,Â£32.42,In stock,One,science_fiction
27,The Restaurant at the ...,Â£10.92,In stock,One,science_fiction
28,Ready Player One,Â£19.07,In stock,Four,science_fiction
29,"Life, the Universe and ...",Â£33.26,In stock,Two,science_fiction
30,Dune (Dune #1),Â£54.86,In stock,One,science_fiction
31,Do Androids Dream of ...,Â£51.48,In stock,One,science_fiction
32,Three Wishes (River of ...,Â£44.18,In stock,Two,science_fiction
33,The Last Girl (The ...,Â£36.26,In stock,Two,science_fiction
34,Having the Barbarian's Baby ...,Â£34.96,In stock,Four,science_fiction
35,The Long Haul (Diary ...,Â£44.07,In stock,One,humor
36,Old School (Diary of ...,Â£11.83,In stock,Five,humor
37,I Know What I'm ...,Â£25.98,In stock,Four,humor
38,Hyperbole and a Half: ...,Â£14.75,In stock,Five,humor
39,Dress Your Family in ...,Â£43.68,In stock,Three,humor
40,Toddlers Are A**holes: It's ...,Â£25.55,In stock,One,humor
41,When You Are Engulfed ...,Â£30.89,In stock,Five,humor
42,Naked,Â£31.69,In stock,Three,humor
43,Lamb: The Gospel According ...,Â£55.50,In stock,Five,humor
44,Holidays on Ice,Â£51.07,In stock,Two,humor
45,The Dirty Little Secrets ...,Â£33.34,In stock,Four,business
46,The Third Wave: An ...,Â£12.61,In stock,Five,business
47,The 10% Entrepreneur: Live ...,Â£27.55,In stock,Three,business
48,Shoe Dog: A Memoir ...,Â£23.99,In stock,Two,business
49,Made to Stick: Why ...,Â£38.85,In stock,Five,business
50,Quench Your Own Thirst: ...,Â£43.14,In stock,One,business
51,The Art of Startup ...,Â£21.00,In stock,Three,business
52,Born for This: How ...,Â£21.59,In stock,Five,business
53,The E-Myth Revisited: Why ...,Â£36.91,In stock,One,business
54,"Rich Dad, Poor Dad",Â£51.74,In stock,One,business
55,The Lean Startup: How ...,Â£33.92,In stock,Three,business
56,Rework,Â£44.88,In stock,Two,business

## Data Cleaning
### Job 03:

In [7]:
data_row['product_price'] = data_row['product_price'].apply(lambda x: x[-5:])

In [8]:
data_row

,product_name,product_price,product_stock,product_star,product_catalog
0,The Secret Garden,15.08,In stock,Four,classic
1,The Metamorphosis,28.58,In stock,One,classic
2,The Pilgrim's Progress,50.26,In stock,Two,classic
3,The Hound of the ...,14.82,In stock,Two,classic
4,Little Women (Little Women ...,28.07,In stock,Four,classic
5,Gone with the Wind,32.49,In stock,Three,classic
6,Candide,58.63,In stock,Three,classic
7,Animal Farm,57.22,In stock,Three,classic
8,Wuthering Heights,17.73,In stock,Three,classic
9,The Picture of Dorian ...,29.70,In stock,Two,classic
10,The Complete Stories and ...,26.78,In stock,Four,classic
11,Beowulf,38.35,In stock,Two,classic
12,And Then There Were ...,35.01,In stock,Two,classic
13,The Story of Hong ...,43.19,In stock,Four,classic
14,The Little Prince,45.42,In stock,Two,classic
15,Sense and Sensibility,37.46,In stock,One,classic
16,Of Mice and Men,47.11,In stock,Two,classic
17,Emma,32.93,In stock,Two,classic
18,Alice in Wonderland (Alice's ...,55.53,In stock,One,classic
19,Mesaerion: The Best Science ...,37.59,In stock,One,science_fiction
20,Join,35.67,In stock,Five,science_fiction
21,William Shakespeare's Star Wars: ...,43.30,In stock,Four,science_fiction
22,The Project,10.65,In stock,One,science_fiction
23,Soft Apocalypse,26.12,In stock,Two,science_fiction
24,Sleeping Giants (Themis Files ...,48.74,In stock,One,science_fiction
25,Arena,21.36,In stock,Four,science_fiction
26,Foundation (Foundation (Publication Order) ...,32.42,In stock,One,science_fiction
27,The Restaurant at the ...,10.92,In stock,One,science_fiction
28,Ready Player One,19.07,In stock,Four,science_fiction
29,"Life, the Universe and ...",33.26,In stock,Two,science_fiction
30,Dune (Dune #1),54.86,In stock,One,science_fiction
31,Do Androids Dream of ...,51.48,In stock,One,science_fiction
32,Three Wishes (River of ...,44.18,In stock,Two,science_fiction
33,The Last Girl (The ...,36.26,In stock,Two,science_fiction
34,Having the Barbarian's Baby ...,34.96,In stock,Four,science_fiction
35,The Long Haul (Diary ...,44.07,In stock,One,humor
36,Old School (Diary of ...,11.83,In stock,Five,humor
37,I Know What I'm ...,25.98,In stock,Four,humor
38,Hyperbole and a Half: ...,14.75,In stock,Five,humor
39,Dress Your Family in ...,43.68,In stock,Three,humor
40,Toddlers Are A**holes: It's ...,25.55,In stock,One,humor
41,When You Are Engulfed ...,30.89,In stock,Five,humor
42,Naked,31.69,In stock,Three,humor
43,Lamb: The Gospel According ...,55.50,In stock,Five,humor
44,Holidays on Ice,51.07,In stock,Two,humor
45,The Dirty Little Secrets ...,33.34,In stock,Four,business
46,The Third Wave: An ...,12.61,In stock,Five,business
47,The 10% Entrepreneur: Live ...,27.55,In stock,Three,business
48,Shoe Dog: A Memoir ...,23.99,In stock,Two,business
49,Made to Stick: Why ...,38.85,In stock,Five,business
50,Quench Your Own Thirst: ...,43.14,In stock,One,business
51,The Art of Startup ...,21.00,In stock,Three,business
52,Born for This: How ...,21.59,In stock,Five,business
53,The E-Myth Revisited: Why ...,36.91,In stock,One,business
54,"Rich Dad, Poor Dad",51.74,In stock,One,business
55,The Lean Startup: How ...,33.92,In stock,Three,business
56,Rework,44.88,In stock,Two,business

In [9]:
data_row.to_csv('data_row.csv')

## Data Insert
### Job 04: Charge

In [10]:
path = 'C:/Users/Utilizador/repos/Python_ds_ao_dev/Projeto_Book_to_Scrape/data_row.csv'
data = pd.read_csv(path)

data.drop(["Unnamed: 0"], axis=1, inplace=True)
data = data.reset_index(drop=True)

data.head()

,product_name,product_price,product_stock,product_star,product_catalog
0,The Secret Garden,15.08,In stock,Four,classic
1,The Metamorphosis,28.58,In stock,One,classic
2,The Pilgrim's Progress,50.26,In stock,Two,classic
3,The Hound of the ...,14.82,In stock,Two,classic
4,Little Women (Little Women ...,28.07,In stock,Four,classic

In [11]:
data.dtypes

product_name        object
product_price      float64
product_stock       object
product_star        object
product_catalog     object
dtype: object

In [12]:
data.columns

Index(['product_name', 'product_price', 'product_stock', 'product_star',
       'product_catalog'],
      dtype='object')

In [13]:
# Creat query
query_showroom_schema = """
    CREATE TABLE book_one (
        product_name             INTEGER,
        product_price            REAL,
        product_stock            TEXT,
        product_star             TEXT,
        product_catalog          TEXT,
        )
"""

In [14]:
# Connect to dataset
# Planning the query execution in DB
# Run
# Close conection

try:
    conn = sqlite3.connect('book_one_db.sqlite')
    cursor = conn.cursor()
    print("Database created and Successfully Connected to SQLite")

    query_showroom_schema = "select sqlite_version();"
    cursor.execute(query_showroom_schema)
    conn.commit()
    record = cursor.fetchall()
    print("SQLite Database Version is: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)
finally:
    if conn:
        conn.close()
        print("The SQLite connection is closed")

Database created and Successfully Connected to SQLite
SQLite Database Version is:  [('3.36.0',)]
The SQLite connection is closed

In [15]:
conn = create_engine('sqlite:///book_one_db.sqlite',echo=False, pool_pre_ping=True)
conn

Engine(sqlite:///book_one_db.sqlite)

In [16]:
# insert data to table
data.to_sql( 'book_one', con=conn, if_exists='append', index=False )

In [17]:
query = """
    SELECT * FROM book_one
"""
df = pd.read_sql_query( query, conn )
df

,product_name,product_price,product_stock,product_star,product_catalog
0,The Secret Garden,15.08,In stock,Four,classic
1,The Metamorphosis,28.58,In stock,One,classic
2,The Pilgrim's Progress,50.26,In stock,Two,classic
3,The Hound of the ...,14.82,In stock,Two,classic
4,Little Women (Little Women ...,28.07,In stock,Four,classic
5,Gone with the Wind,32.49,In stock,Three,classic
6,Candide,58.63,In stock,Three,classic
7,Animal Farm,57.22,In stock,Three,classic
8,Wuthering Heights,17.73,In stock,Three,classic
9,The Picture of Dorian ...,29.70,In stock,Two,classic
10,The Complete Stories and ...,26.78,In stock,Four,classic
11,Beowulf,38.35,In stock,Two,classic
12,And Then There Were ...,35.01,In stock,Two,classic
13,The Story of Hong ...,43.19,In stock,Four,classic
14,The Little Prince,45.42,In stock,Two,classic
15,Sense and Sensibility,37.46,In stock,One,classic
16,Of Mice and Men,47.11,In stock,Two,classic
17,Emma,32.93,In stock,Two,classic
18,Alice in Wonderland (Alice's ...,55.53,In stock,One,classic
19,Mesaerion: The Best Science ...,37.59,In stock,One,science_fiction
20,Join,35.67,In stock,Five,science_fiction
21,William Shakespeare's Star Wars: ...,43.30,In stock,Four,science_fiction
22,The Project,10.65,In stock,One,science_fiction
23,Soft Apocalypse,26.12,In stock,Two,science_fiction
24,Sleeping Giants (Themis Files ...,48.74,In stock,One,science_fiction
25,Arena,21.36,In stock,Four,science_fiction
26,Foundation (Foundation (Publication Order) ...,32.42,In stock,One,science_fiction
27,The Restaurant at the ...,10.92,In stock,One,science_fiction
28,Ready Player One,19.07,In stock,Four,science_fiction
29,"Life, the Universe and ...",33.26,In stock,Two,science_fiction
30,Dune (Dune #1),54.86,In stock,One,science_fiction
31,Do Androids Dream of ...,51.48,In stock,One,science_fiction
32,Three Wishes (River of ...,44.18,In stock,Two,science_fiction
33,The Last Girl (The ...,36.26,In stock,Two,science_fiction
34,Having the Barbarian's Baby ...,34.96,In stock,Four,science_fiction
35,The Long Haul (Diary ...,44.07,In stock,One,humor
36,Old School (Diary of ...,11.83,In stock,Five,humor
37,I Know What I'm ...,25.98,In stock,Four,humor
38,Hyperbole and a Half: ...,14.75,In stock,Five,humor
39,Dress Your Family in ...,43.68,In stock,Three,humor
40,Toddlers Are A**holes: It's ...,25.55,In stock,One,humor
41,When You Are Engulfed ...,30.89,In stock,Five,humor
42,Naked,31.69,In stock,Three,humor
43,Lamb: The Gospel According ...,55.50,In stock,Five,humor
44,Holidays on Ice,51.07,In stock,Two,humor
45,The Dirty Little Secrets ...,33.34,In stock,Four,business
46,The Third Wave: An ...,12.61,In stock,Five,business
47,The 10% Entrepreneur: Live ...,27.55,In stock,Three,business
48,Shoe Dog: A Memoir ...,23.99,In stock,Two,business
49,Made to Stick: Why ...,38.85,In stock,Five,business
50,Quench Your Own Thirst: ...,43.14,In stock,One,business
51,The Art of Startup ...,21.00,In stock,Three,business
52,Born for This: How ...,21.59,In stock,Five,business
53,The E-Myth Revisited: Why ...,36.91,In stock,One,business
54,"Rich Dad, Poor Dad",51.74,In stock,One,business
55,The Lean Startup: How ...,33.92,In stock,Three,business
56,Rework,44.88,In stock,Two,business